{% extends 'base.html.twig' %}

{% set title = 'Charges'|trans %}

{% block body %}
    <div class="card">
        <div class="header bg-pink">
            <h2>Editer {{ charge.subject }}</h2>
        </div>

        <div class="body">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}
