{% extends 'base.html.twig' %}

{% set title = 'Charges'|trans %}

{% block body %}
    <h1>Charge creation</h1>
    {% include 'form.html.twig' %}
    <ul>
        <li>
            <a href="{{ path('charge_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
