{% extends 'base.html.twig' %}

{% set title = 'Charges'|trans %}

{% block body %}
    <div class="card">
        <div class="header bg-pink">
            <h2>Nouvelle charge</h2>
        </div>

        <div class="body">
            {% include 'form.html.twig' with {'action': path('charge_new'), 'csrf_token': csrf_token('authenticate')} %}
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}
