{% extends 'base.html.twig' %}

{% set title = 'Messages'|trans %}

{% block body %}

    <div class="container-fluid">
        <div class="panel js-data-table-container">
            <div class="panel-body">
                <h2>Messages</h2>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}